* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}
main {
  min-height: 100%;
  padding-top: 80px;
  margin-bottom: -80px;
}
main:after {
  content: "";
  display: block;
}

footer, main:after {
  height: 80px;
}


header {
  background: #4c4c4c;
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  padding:15px;
  box-shadow:0px 2px 4px rgba(44,62,80,0.15);
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}


.welcome-header {
  font-size: 30px;
  color: black;
  letter-spacing: 2px;
  text-align: center;
}

.new-todo-form-input {
  display: block;
  width: 100%;
  height: 50px;
  vertical-align: middle;
  color:#fff;
  font-size:15px;
  font-weight:400;
  text-indent:18px;
  background:rgba(255,255,255,0.2);
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  border:0px;
  box-shadow:none;
  outline:none;
}

.new-todo-form-button{
  position: absolute;
  top: 15px;
  right: 15px;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border-radius:25px;
  background:#fff;
  border:0px;
  box-shadow:none;
  outline:none;
  cursor:pointer;
}
.new-todo-form-button svg {
  width:16px;
  height:16px;
}

.new-todo-form-button svg  .fill {
  fill:#000000;
}

.new-todo-form-button:hover{
  border-radius: 0 10px 10px 0;
}

footer {
  padding: 1rem;
  background-color: #4c4c4c;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

footer h1{
  color: white;
  margin: 0px;
}

.todos > li {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  text-align: center;
}

.todos.incomplete-todos {

}

.todos.complete-todos > li {
  text-decoration: line-through;
}

